<template name="footer">
  <footer class="page-footer">
    <div class="container">
      <div class="row">

        <div class="col m6 s12">
          <h5 class="white-text">{{__ 'MFS.footer.services.header'}}</h5>
          <p class="grey-text text-lighten-4">
            {{__ 'MFS.footer.services.content'}}
          </p>
        </div>

        <div class="col m4 offset-m2 s12">
          <h5 class="white-text">{{__ 'MFS.footer.links.header'}}</h5>
          <ul>
            <li>
              <a class="grey-text text-lighten-3" href="#home">
                {{__ 'MFS.navigation.home'}}
              </a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#contact">
                {{__ 'MFS.navigation.contact'}}
              </a>
            </li>
            <li>
              <a class="grey-text text-lighten-3" href="#terms">
                {{__ 'MFS.navigation.terms'}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        {{{__ 'MFS.footer.copyright'}}}
        <!-- <a class="grey-text text-lighten-4 right" href="#!">More Links</a> -->
      </div>
    </div>
  </footer>

</template>
