<template name="signInFormEmailPassword">

  {{#if currentUser}}
    <div class="col s12">
      <p>You are already signed in.</p>
    </div>
  {{else}}

    {{#autoForm id="signInFormEmailPassword" schema=schema resetOnSuccess=false}}
      <div class="col s12">
        {{> afQuickField name="email"}}
      </div>
      <div class="col s12">
        {{> afQuickField name="password"}}
      </div>
      <div class="col s12">
        <a href="#signUp" style="padding-right: 2em;">
          {{__ 'MFS.account.signUp.label'}}
        </a>
        <a href="#forgotPassword">
          {{__ 'MFS.account.passwordForgot.label'}}
        </a>
      </div>
      <div class="col s12" style="padding-top: 1em;">
        <button type="submit" class="btn waves-effect">
          {{__ 'MFS.account.signIn.label'}}
        </button>
      </div>
    {{/autoForm}}
  {{/if}}

</template>
